apiVersion: apps/v1
kind: Deployment
metadata:
  name: flink-jobmanager
  labels:
    app: flink-jobmanager
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flink-jobmanager
  template:
    metadata:
      labels:
        app: flink-jobmanager
    spec:
      nodeSelector:
        workload-type: apps
      containers:
      - name: jobmanager
        image: {{ flink_image }}
        imagPullPolicy: Always
        args: ["jobmanager"]
        ports:
          - containerPort: {{ flink_jobmanager_port }}
        env:
          - name: FLINK_PROPERTIES
            value: |
              jobmanager.rpc.address: flink-jobmanager
        readinessProbe:
          httpGet:
            path: /overview
            port: {{ flink_jobmanager_port }}
          initialDelaySeconds: 10
          periodSeconds: 5
