apiVersion: batch/v1
kind: Job
metadata:
  name: flink-job
  labels:
    app: flink-job
spec:
  template:
    spec:
      nodeSelector:
        workload-type: apps
      restartPolicy: Never
      containers:
      - name: flink-job
        image: {{ flink_job_image }}
        imagePullPolicy: Always
        env:
          - name: FLINK_JM_HOST
            value: flink-jobmanager
          - name: FLINK_JM_PORT
            value: "{{ flink_jobmanager_port }}"
          - name: FLINK_PARALLELISM
            value: "{{ flink_job_parallelism | string }}"
          - name: POSTGRES_URL
            value: "{{ postgres_url }}"
          - name: KAFKA_URL
            value: "{{ kafka_url }}"

