apiVersion: v1
kind: Service
metadata:
  name: flink-jobmanager
spec:
  selector:
    app: flink-jobmanager
  ports:
    - name: rpc
      port: {{ flink_jobmanager_port }}
      targetPort: {{ flink_jobmanager_port }}
    - name: rpc_port
      port: {{ flink_rpc_port }}
      targetPort: {{ flink_rpc_port }}
  type: ClusterIP