---
apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ rabbitmq_app_name }}-policy-setter"
  namespace: "{{ rabbitmq_namespace }}"
spec:
  template:
    spec:
      restartPolicy: OnFailure
      containers:
        - name: rabbitmq-policy-setter
          image: "{{ rabbitmq_image }}"
          command:
            - /bin/sh
            - -c
            - |
              echo "Waiting for RabbitMQ service to be ready..."
              while ! rabbitmqctl -q -n rabbit@rabbitmq-0.rabbitmq-headless.{{ rabbitmq_namespace }}.svc.cluster.local ping; do
                sleep 5
              done
              echo "RabbitMQ is up. Applying HA policy..."
              rabbitmqadmin \
                -H rabbitmq-service.{{ rabbitmq_namespace }}.svc.cluster.local \
                declare policy \
                name={{ rabbitmq_ha_policy_name }} \
                pattern="{{ rabbitmq_ha_policy_pattern }}" \
                definition='{{ rabbitmq_ha_policy_definition }}'
