---
apiVersion: v1
kind: Service
metadata:
  name: "{{ rabbitmq_app_name }}-headless"
  namespace: "{{ rabbitmq_namespace }}"
spec:
  clusterIP: None
  selector:
    app: "{{ rabbitmq_app_name }}"
  ports:
    - name: amqp
      protocol: TCP
      port: 5672
    - name: management
      protocol: TCP
      port: 15672
    - name: epmd
      port: 4369
      targetPort: 4369
    - name: dist
      port: 25672
      targetPort: 25672
