apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ brokeroo_app_name }}
  labels:
    app: {{ brokeroo_app_name }}
spec:
  replicas: {{ brokeroo_replicas }}
  selector:
    matchLabels:
      app: {{ brokeroo_app_name }}
  template:
    metadata:
      labels:
        app: {{ brokeroo_app_name }}
    spec:
      nodeSelector:
        workload-type: apps
      containers:
        - name: {{ brokeroo_app_name }}
          image: {{ brokeroo_image }}
          imagePullPolicy: Always
          ports:
            - containerPort: {{ brokeroo_port }}
          env:
            - name: RABBITMQ_URL
              valueFrom:
                secretKeyRef:
                  name: "{{ brokeroo_app_name }}-secrets"
                  key: brokeroo_rabbitmq_connection_string
            - name: POSTGRES_URL
              valueFrom:
                secretKeyRef:
                  name: "{{ brokeroo_app_name }}-secrets"
                  key: brokeroo_tsdb_connection_string
            - name: QUEUE_NAME
              value: "{{ brokeroo_amqp_queue_name }}"
            - name: ROUTING_KEY
              value: "j.data.*.*"
            - name: KAFKA_BROKER
              value: "{{ brokeroo_kafka_broker }}"
            - name: BATCH_SIZE
              value: "50"
            - name: BATCH_TIMEOUT_MS
              value: "100"
          resources:
            requests:
              cpu: 500m
              memory: 512Mi
            limits:
              cpu: 2000m
              memory: 2Gi
