apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ brokeroo_app_name }}
  labels:
    app: {{ brokeroo_app_name }}
spec:
  nodeSelector:
    workload-type: apps
  replicas: {{ brokeroo_replicas }}
  selector:
    matchLabels:
      app: {{ brokeroo_app_name }}
  template:
    metadata:
      labels:
        app: {{ brokeroo_app_name }}
    spec:
      nodeSelector:
        workload-type: apps
      containers:
        - name: {{ brokeroo_app_name }}
          image: {{ brokeroo_image }}
          imagePullPolicy: Always
          ports:
            - containerPort: {{ brokeroo_port }}
          env:
            - name: MQTT_BROKER
              value: "mqtt://rabbitmq:1883"
            - name: MQTT_CLIENT_ID
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: MQTT_USERNAME
              value: "apps"
            - name: MQTT_PASSWORD
              value: "apps"
            - name: POSTGRES_URL
              value: "postgres://apps:apps@tsdb-rw.data.svc.cluster.local:5432/tracker_db?sslmode=disable"
            - name: TOPIC_PATTERN
              value: "j/data/+/+"
            - name: KAFKA_BROKER
              value: "kafka.data.svc.cluster.local:9092"
          resources:
            requests:
              cpu: "250m"
              memory: "256Mi"
            limits:
              cpu: "1"
              memory: "512Mi"
