apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ brokeroo_app_name }}
  labels:
    app: {{ brokeroo_app_name }}
spec:
  nodeSelector:
    workload-type: apps
  replicas: {{ brokeroo_replicas }}
  selector:
    matchLabels:
      app: {{ brokeroo_app_name }}
  template:
    metadata:
      labels:
        app: {{ brokeroo_app_name }}
    spec:
      nodeSelector:
        workload-type: apps
      containers:
        - name: {{ brokeroo_app_name }}
          image: {{ brokeroo_image }}
          imagePullPolicy: Always
          ports:
            - containerPort: {{ brokeroo_port }}
          env:
            - name: RABBITMQ_URL
              value: "amqp://apps:apps@rabbitmq:5672/"
            - name: PREFETCH_COUNT
              value: "10"
            - name: POSTGRES_URL
              value: "postgres://apps:apps@tsdb-rw.data.svc.cluster.local:5432/tracker_db?sslmode=disable"
            - name: ROUTING_KEY
              value: "j.data.*.*"
            - name: KAFKA_BROKER
              value: "kafka.data.svc.cluster.local:9092"
            - name: BATCH_SIZE
              value: "50"
            - name: BATCH_TIMEOUT_MS
              value: "100"
          resources:
            requests:
              cpu: "250m"
              memory: "256Mi"
            limits:
              cpu: "1"
              memory: "512Mi"
