apiVersion: keda.sh/v1alpha1
kind: TriggerAuthentication
metadata:
  name: rabbitmq-auth
  namespace: "{{ brokeroo_namespace }}"
spec:
  secretTargetRef:
    - parameter: connectionString
      name: "{{ brokeroo_app_name }}-secrets"
      key: brokeroo_rabbitmq_connection_string
