apiVersion: v1
kind: Service
metadata:
  name: zookeeper
spec:
  selector:
    app: zookeeper
  ports:
    - name: client
      port: {{ zookeeper_client_port }}
      targetPort: {{ zookeeper_client_port }}
  type: ClusterIP
