apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka
  labels:
    app: kafka
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka
  template:
    metadata:
      labels:
        app: kafka
    spec:
      nodeSelector:
         workload-type: apps
      containers:
        - name: kafka
          image: {{ kafka_image }}
          ports:
            - containerPort: {{ kafka_port }}
            - name: plaintext
            - containerPort: {{ kafka_host_port }}
            - name: plaintext-host
          env:
            - name: KAFKA_BROKER_ID
              value: "{{ kafka_broker_id }}"
            - name: KAFKA_ZOOKEEPER_CONNECT
              value: "{{ zookeeper_connect }}"
            - name: KAFKA_ADVERTISED_LISTENERS
              value: "PLAINTEXT://kafka.data.svc.cluster.local:{{ kafka_port }},PLAINTEXT_HOST://localhost:{{ kafka_host_port }}"
            - name: KAFKA_LISTENER_SECURITY_PROTOCOL_MAP
              value: "PLAINTEXT:PLAINTEXT"
            - name: KAFKA_INTER_BROKER_LISTENER_NAME
              value: "PLAINTEXT
          readinessProbe:
            tcpSocket:
              port: {{ kafka_port }}
            initialDelaySeconds: 30
            periodSeconds: 10
          livenessProbe:
            tcpSocket:
              port: {{ kafka_port }}
            initialDelaySeconds: 60
            periodSeconds: 20
