apiVersion: v1
kind: Service
metadata:
  name: kafka
spec:
  selector:
    app: kafka
  ports:
    - name: plaintext
      port: {{ kafka_port }}
      targetPort: {{ kafka_port }}
    - name: plaintext-host
      port: {{ kafka_host_port }}
      targetPort: {{ kafka_host_port }}
  type: ClusterIP
