{
    "Servers": {
        "1": {
            "Name": "Primary",
            "Group": "Servers",
            "Host": "tsdb-rw.data.svc.cluster.local",
            "Port": 5432,
            "MaintenanceDB": "tracker_db",
            "Username": "admin",
            "UseSSHTunnel": 0,
            "TunnelPort": "22",
            "TunnelAuthentication": 0,
            "TunnelKeepAlive": 0,
            "KerberosAuthentication": false,
            "ConnectionParameters": {
                "sslmode": "prefer",
                "connect_timeout": 10,
                "sslcert": "<STORAGE_DIR>/.postgresql/postgresql.crt",
                "sslkey": "<STORAGE_DIR>/.postgresql/postgresql.key"
            },
            "Tags": []
        },
        "2": {
            "Name": "Replica",
            "Group": "Servers",
            "Host": "tsdb-ro.data.svc.cluster.local",
            "Port": 5432,
            "MaintenanceDB": "postgres",
            "Username": "admin",
            "UseSSHTunnel": 0,
            "TunnelPort": "22",
            "TunnelAuthentication": 0,
            "TunnelKeepAlive": 0,
            "KerberosAuthentication": false,
            "ConnectionParameters": {
                "sslmode": "prefer",
                "connect_timeout": 10,
                "sslcert": "<STORAGE_DIR>/.postgresql/postgresql.crt",
                "sslkey": "<STORAGE_DIR>/.postgresql/postgresql.key"
            },
            "Tags": []
        }
    }
}
