*.qcow2
*.pem
secrets
.pytest_cache
__pycache__
trackeroo-backend/rabbitmq/etc/certs
trackeroo-backend/rabbitmq/data
trackeroo-backend/tsdb
*cert*
tdevice.json
claim.py
status
brockeroo
grafana
trackeroo-backend/mongo/data
nominatim-data
osrm-data
trackeroo-backend/redis
mqtt_client