apiVersion: v1
kind: Service
metadata:
  name: {{ grafana_app_name }}
spec:
  selector:
    app: {{ grafana_app_name }}
  ports:
    - name: http
      port: {{ grafana_port }}
      targetPort: {{ grafana_port }}
  type: ClusterIP
