apiVersion: v1
kind: Secret
metadata:
  name: "{{ grafana_app_name }}-sa-token"
  namespace: "{{ grafana_namespace }}"
  annotations:
    kubernetes.io/service-account.name: "{{ grafana_app_name }}"
type: kubernetes.io/service-account-token
