---
apiVersion: v1
kind: Service
metadata:
  name: "{{ trackeroo_app_name }}"
  namespace: "{{ trackeroo_namespace }}"
spec:
  type: LoadBalancer
  loadBalancerIP: {{ trackeroo_service_ip }}
  selector:
    app: "{{ trackeroo_app_name }}"
  ports:
    - port: 8080
      targetPort: 8080
