apiVersion: v1
kind: Service
metadata:
  name: "{{ mongo_express_app_name }}"
  namespace: {{ mongo_express_namespace }}
spec:
  type: LoadBalancer
  loadBalancerIP: {{ mongo_express_ip }}
  selector:
    app: "{{ mongo_express_app_name }}"
  ports:
    - port: 8081
      targetPort: 8081
