---
apiVersion: v1
kind: Service
metadata:
  name: "{{ mongo_app_name }}"
  namespace: "{{ mongo_namespace }}"
spec:
  type: ClusterIP
  selector:
    app: "{{ mongo_app_name }}"
  ports:
    - protocol: TCP
      port: 27017
      targetPort: 27017
