apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ nginx_app_name }}
  labels:
    app: {{ nginx_app_name }}
spec:
  nodeSelector:
    workload-type: apps
  replicas: 1
  selector:
    matchLabels:
      app: {{ nginx_app_name }}
  template:
    metadata:
      labels:
        app: {{ nginx_app_name }}
    spec:
      nodeSelector:
        workload-type: apps
      containers:
        - name: {{ nginx_app_name }}
          image: {{ nginx_image }}
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: {{ nginx_port }} # Nginx listens on port 80 by default
          volumeMounts:
            - name: nginx-config-volume
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf
      volumes:
        - name: nginx-config-volume
          configMap:
            name: nginx-conf
