apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: {{ cluster_name }}
  namespace: {{ tsdb_namespace }}
spec:
  postgresUID: 999
  postgresGID: 999
  instances: {{ instances }}
  imageName: {{ image }}
  postgresql:
    parameters:
      max_connections: "{{ max_connections }}"
      timescaledb.telemetry_level: "off"
  storage:
    size: {{ storage_size }}
    storageClass: {{ storage_class }}
    resizeInUseVolumes: true
  bootstrap:
    initdb:
      database: {{ database_name }}
      owner: {{ database_user }}
      secret:
        name: {{ secret_name }}
      postInitSQL:
        - "CREATE EXTENSION IF NOT EXISTS timescaledb;"
        - "CREATE EXTENSION IF NOT EXISTS postgis;"
        - "CREATE EXTENSION IF NOT EXISTS postgis_topology;"
