apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: {{ cluster_name }}
  namespace: {{ tsdb_namespace }}
spec:
  postgresUID: 999
  postgresGID: 999
  instances: {{ instances }}
  imageName: {{ image }}
  imagePullPolicy: Always
  postgresql:
    shared_preload_libraries:
      - "timescaledb"
    parameters:
      max_connections: "{{ max_connections }}"
      timescaledb.telemetry_level: "off"
  storage:
    size: {{ storage_size }}
    storageClass: {{ storage_class }}
    resizeInUseVolumes: true
  bootstrap:
    initdb:
      database: {{ database_name }}
      owner: {{ admin_user | default('admin') }}
      postInitApplicationSQLRefs:
        configMapRefs:
          - name: "{{ cluster_name }}-init-scripts"
            key: 01-init.sql
          - name: "{{ cluster_name }}-init-scripts"
            key: 02-schema.sql
  managed:
    roles:
    # Admin user with full privileges
    - name: {{ admin_user | default('admin') }}
      ensure: present
      passwordSecret:
        name: "{{ cluster_name }}-admin-secret"
      login: true
      superuser: true
      createdb: true
      createrole: true
      replication: true
      bypassrls: true
    # Application user with limited privileges
    - name: {{ apps_user | default('apps') }}
      ensure: present
      passwordSecret:
        name: "{{ cluster_name }}-apps-secret"
      login: true
      superuser: false
      createdb: false
      createrole: false
