apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: {{ cluster_name }}
  namespace: {{ tsdb_namespace }}
spec:
  postgresUID: 999
  postgresGID: 999
  instances: {{ instances }}
  imageName: {{ image }}
  imagePullPolicy: Always
  postgresql:
    shared_preload_libraries:
      - "timescaledb"
    parameters:
      max_connections: "{{ max_connections }}"
      timescaledb.telemetry_level: "off"
  storage:
    size: {{ storage_size }}
    storageClass: {{ storage_class }}
    resizeInUseVolumes: true
  monitoring:
    enabled: {{ monitoring_enabled | default(true) }}
  bootstrap:
    initdb:
      database: {{ database_name }}
      owner: {{ database_user }}
      postInitSQL:
        - "CREATE EXTENSION IF NOT EXISTS timescaledb;"
        - "CREATE EXTENSION IF NOT EXISTS postgis;"
        - "CREATE EXTENSION IF NOT EXISTS postgis_topology;"
        - "GRANT ALL PRIVILEGES ON DATABASE {{ database_name }} TO {{ admin_user | default('admin') }};"
        - "GRANT USAGE ON SCHEMA _timescaledb_catalog TO {{ apps_user | default('apps') }};"
        - "GRANT USAGE ON SCHEMA _timescaledb_config TO {{ apps_user | default('apps') }};"
        - "GRANT USAGE ON SCHEMA _timescaledb_internal TO {{ apps_user | default('apps') }};"
        - "GRANT SELECT ON ALL TABLES IN SCHEMA _timescaledb_catalog TO {{ apps_user | default('apps') }};"
        - "GRANT SELECT ON ALL TABLES IN SCHEMA _timescaledb_config TO {{ apps_user | default('apps') }};"
      postInitApplicationSQL:
        - "CREATE SCHEMA IF NOT EXISTS trackeroo;"
        - "CREATE TABLE IF NOT EXISTS trackeroo.data (ts_unix BIGINT NOT NULL, ts TIMESTAMPTZ NOT NULL, dev_id TEXT NOT NULL, insertion_time TIMESTAMPTZ DEFAULT NOW(), tag TEXT NOT NULL, payload JSONB NOT NULL, PRIMARY KEY (ts, dev_id));"
        - "CREATE TABLE IF NOT EXISTS trackeroo.aggregated (ts_unix BIGINT NOT NULL, ts TIMESTAMPTZ NOT NULL, dev_id TEXT NOT NULL, route_hash TEXT NOT NULL, insertion_time TIMESTAMPTZ DEFAULT NOW(), tag TEXT NOT NULL, payload JSONB NOT NULL, PRIMARY KEY (ts, route_hash, dev_id));"
        - "SELECT create_hypertable('trackeroo.data', 'ts', 'dev_id', 16, if_not_exists => TRUE);"
        - "SELECT create_hypertable('trackeroo.aggregated', 'ts', 'dev_id', 16, if_not_exists => TRUE);"
        - "CREATE INDEX IF NOT EXISTS idx_trackeroo_data_dev_id ON trackeroo.data(dev_id);"
        - "CREATE INDEX IF NOT EXISTS idx_trackeroo_data_tag ON trackeroo.data(tag);"
        - "CREATE INDEX IF NOT EXISTS idx_trackeroo_data_ts ON trackeroo.data(ts);"
        - "CREATE INDEX IF NOT EXISTS idx_trackeroo_aggregated_dev_id ON trackeroo.aggregated(dev_id);"
        - "CREATE INDEX IF NOT EXISTS idx_trackeroo_aggregated_route_hash ON trackeroo.aggregated(route_hash);"
        - "CREATE INDEX IF NOT EXISTS idx_trackeroo_aggregated_tag ON trackeroo.aggregated(tag);"
        - "CREATE INDEX IF NOT EXISTS idx_trackeroo_aggregated_ts ON trackeroo.aggregated(ts);"
        - "GRANT USAGE ON SCHEMA trackeroo TO {{ apps_user | default('apps') }};"
        - "GRANT SELECT, INSERT, UPDATE, DELETE ON ALL TABLES IN SCHEMA trackeroo TO {{ apps_user | default('apps') }};"
        - "GRANT USAGE, SELECT, UPDATE ON ALL SEQUENCES IN SCHEMA trackeroo TO {{ apps_user | default('apps') }};"
        - "ALTER DEFAULT PRIVILEGES IN SCHEMA trackeroo GRANT SELECT, INSERT, UPDATE, DELETE ON TABLES TO {{ apps_user | default('apps') }};"
        - "ALTER DEFAULT PRIVILEGES IN SCHEMA trackeroo GRANT USAGE, SELECT, UPDATE ON SEQUENCES TO {{ apps_user | default('apps') }};"
        - "GRANT USAGE ON SCHEMA _timescaledb_catalog TO {{ apps_user | default('apps') }};"
        - "GRANT USAGE ON SCHEMA _timescaledb_config TO {{ apps_user | default('apps') }};"
        - "GRANT USAGE ON SCHEMA _timescaledb_internal TO {{ apps_user | default('apps') }};"
        - "GRANT SELECT ON ALL TABLES IN SCHEMA _timescaledb_catalog TO {{ apps_user | default('apps') }};"
        - "GRANT SELECT ON ALL TABLES IN SCHEMA _timescaledb_config TO {{ apps_user | default('apps') }};"
  managed:
    roles:
    # Admin user with full privileges
    - name: {{ admin_user | default('admin') }}
      ensure: present
      passwordSecret:
        name: "{{ cluster_name }}-admin-secret"
      login: true
      superuser: true
      createdb: true
      createrole: true
      replication: true
      bypassrls: true
    # Application user with limited privileges
    - name: {{ apps_user | default('apps') }}
      ensure: present
      passwordSecret:
        name: "{{ cluster_name }}-apps-secret"
      login: true
      superuser: false
      createdb: false
      createrole: false
